<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="{{{description}}}">
	<meta id="index" content="{{{index}}}">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{{index}}}/view/css/style.css">
	<link rel="icon" type="image/icon" href="{{{index}}}/view/images/favicon/ouroboros.ico">
	<title>{{{title}}}</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row justify-content-center">
			<content class="col-xl-8 col-lg-9 col-md-10 col-sm-11 col-12">
				{{{body}}}
				<div class="text-center mt-3 mb-4 pt-2">
					<a href="{{{repo}}}" target="_blank"><i id="bottom_gh" class="fab fa-github"></i></a>
				</div>
				<div class="text-center">
					<p class="font_size_10 m-0"><a target="_blank" href="{{{repo}}}/issues">report issues</a></p>
					<p class="font_size_10 m-0"><a target="_blank" href="https://www.buymeacoffee.com/j9108c">help support server costs</a></p>
				</div>
			</content>
			<footer class="text-center">
				<p class="font_size_10 m-0">released under the <a target="_blank" href="https://opensource.org/licenses/MIT">MIT License</a> &#169; 2020−{{{current_year}}}</p>
				<p class="font_size_10 m-0"><a href="{{{hosts.[1025]}}}/stats">cloudflare zone analytics</a></p>
				<div class="btn-group dropdown">
					<button id="dropdown_button" type="button" class="btn btn-link dropdown-toggle mt-n2 px-1 py-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></button>
					<div id="dropdown_menu" class="dropdown-menu mt-n2 px-2 py-0">
						<div class="text-center">
							<b>domain requests (periods in UTC)</b>
						</div>
						<div class="dropdown-divider m-0"></div>
						<span>today: <span id="today_total_wrapper"></span></span>
						<ul id="today_list_wrapper" class="m-0"></ul>
						<div class="dropdown-divider m-0"></div>
						<span>last 7 days: <span id="last7days_total_wrapper"></span></span>
						<ul id="last7days_list_wrapper" class="m-0"></ul>
						<div class="dropdown-divider m-0"></div>
						<span>last 30 days: <span id="last30days_total_wrapper"></span></span>
						<ul id="last30days_list_wrapper" class="m-0"></ul>
						<div class="dropdown-divider m-0"></div>
						<div class="text-center mt-n1">
							<p class="font_size_10 mt-1 mb-n2">updates in <span id="countdown_wrapper">?</span> seconds</p>
							<a class="font_size_10" href="{{{hosts.[1025]}}}/stats">full details</a>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{{index}}}/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="{{{index}}}/view/js/client.js"></script>
</body>
</html>
